@import "../../../styles/colors.scss";
@import "../../../styles/typography.scss";

.search-input {
  //NOTE: Lo dejo pequeño para que se sepa que es un icono
  width: 30px;
  background-color: white;
}

.logo {
    color: white;
}