
@font-face {
  font-family: 'PPTelegraf-Regular';
  src: url('../../assets/fonts/PPTelegraf-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'PPTelegraf-UltraBold';
  src: url('../../assets/fonts/PPTelegraf-UltraBold.woff') format('woff');
  font-weight: 900; 
  font-style: normal;
}

@font-face {
  font-family: 'PPTelegraf-Ultralight';
  src: url('../../assets/fonts/PPTelegraf-UltraLight.woff') format('woff');
  font-weight: 100; 
  font-style: normal;
}


@font-face {
  font-family: 'Nocturne-Regular';
  src: url('../../assets/fonts/Nocturne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

  @font-face {
    font-family: 'Nocturne-Black';
    src: url('../../assets/fonts/NocturneSerif-Black.woff') format('woff'); 
    font-weight: 900;
    font-style: normal;
}
  
  
  // Variables para las fuentes Telegraf
  $telegrafRegular: 'Telegraf-Regular', sans-serif;
  $telegrafUltraBold: 'Telegraf-UltraBold', sans-serif;
  $telegrafUltraLight: 'Telegraf-UltraLight', sans-serif;
  
  // Variables para las fuentes Nocturne
  $nocturneRegular: 'Nocturne-Regular', sans-serif;
  $nocturneBlack: 'Nocturne-Black', sans-serif;
  $nocturneBold: 'Arial', sans-serif;
