@import "../../styles/colors.scss";
@import "../../styles/typography.scss";

.home-container {
  background-color: #e6dfcf;
}

.father-header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 2.75rem;
  
  background-color: #004368;
}

.home-title {
  margin: 10px;
  font-size: 1.5rem;
  // NOTE: La o con acento se ve chunga
  font-family: $nocturneBlack;
  font-weight: 700;
  color: #004368;
}