@import 'src/styles/colors.scss';
@import 'src/styles/typography.scss';

/* Estilos para la aplicación */
body {
    font-family: $telegrafRegular;
    background-color: $cream;
    color: $blue;
    text-align: center;
  }
  .titulo {
    font-family: $telegrafUltraBold;
    font-size: 24px;
    color: $blue;
    margin-top: 20px;
  }
  
  .font-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .font-group p {
    width: 30%;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  
  h1 {
    font-size: 24px;
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 8px;
  }

  .telegraf-regular {
    font-family: $telegrafRegular, sans-serif;
  }

  .telegraf-ultra-bold {
    font-family: $telegrafUltraBold, sans-serif;
  }

  .telegraf-ultra-light {
    font-family: $telegrafUltraLight, sans-serif;
  }

  .nocturne-extra-light {
    font-family: $nocturneExtraLight, sans-serif;
  }

  .nocturne-bold {
    font-family: $nocturneBold, sans-serif;
  }

  .nocturne-extra-thin {
    font-family: $nocturneExtraThin, sans-serif;
  }

  .nocturne-light {
    font-family: $nocturneLight, sans-serif;
  }

  .nocturne-medium {
    font-family: $nocturneMedium, sans-serif;
  }

  .nocturne-regular {
    font-family: $nocturneRegular, sans-serif;
  }

  .nocturne-semi-bold {
    font-family: $nocturneSemiBold, sans-serif;
  }

  .nocturne-thin {
    font-family: $nocturneThin, sans-serif;
  }

  
  .colores-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .color-box {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
  }
  
  .cream-bg {
    background-color: $cream;
    color: $blue;
  }
  
  .blue-bg {
    background-color: $blue;
    color: $cream;
  }
  
  .gray-bg {
    background-color: $gray;
    color: $cream;
  }
  
  .orange-bg {
    background-color: $orange;
    color: $cream;
  }

  .titulo {
    font-family: $telegrafUltraBold;
    font-size: 24px;
    color: $blue;
    margin-top: 20px;
  }
  
  .nocturne-extra-thin {
    font-family: 'Nocturne-ExtraThin', sans-serif;
    font-size: 24px;
    color: $blue;
    margin-top: 20px;
  }
  
  .nocturne-light {
    font-family: 'Nocturne-Light', sans-serif;
    font-size: 24px;
    color: $blue;
    margin-top: 20px;
  }
  
  .texto-light {
    font-family: $telegrafUltraLight;
    font-size: 18px;
    color: $gray;
  }
  
  .nocturne-bold {
    font-family: 'Nocturne-Bold', sans-serif;
    font-size: 18px;
    color: $gray;
  }
  
  .nocturne-medium {
    font-family: 'Nocturne-Medium', sans-serif;
    font-size: 18px;
    color: $gray;
  }


.cream-bg60 {
    background-color: $cream60;
    color: $blue60;
  }
  
  .blue-bg60 {
    background-color: $blue60;
    color: $cream60;
  }
  
  .gray-bg60 {
    background-color: $gray60;
    color: $cream60;
  }
  
  .orange-bg60 {
    background-color: $orange60;
    color: $cream60;
  }

  .cream-bg40 {
    background-color: $cream60;
    color: $blue60;
  }
  
  .blue-bg40 {
    background-color: $blue60;
    color: $cream60;
  }
  
  .gray-bg40 {
    background-color: $gray60;
    color: $cream60;
  }
  
  .orange-bg40 {
    background-color: $orange60;
    color: $cream60;
  }
  .cream-bg20 {
    background-color: $cream60;
    color: $blue60;
  }
  
  .blue-bg20 {
    background-color: $blue60;
    color: $cream60;
  }
  
  .gray-bg20 {
    background-color: $gray60;
    color: $cream60;
  }
  
  .orange-bg20 {
    background-color: $orange60;
    color: $cream60;
  }