@import "../../../styles/colors.scss";
@import "../../../styles/typography.scss";


.imput {
    font-family: $telegrafRegular;
  }

  .title {
    font-family: $nocturneBlack ;
    color: $blue;
  }
