@import "../../../styles/colors.scss";
@import "../../../styles/typography.scss";

.filter-input {
  border-radius: 20px;
  margin: 0px 5px;
  height: 2rem;

  color: $orange;
  font-family: $telegrafRegular;
  font-weight: 100;
}

.filter-input:active {
  color: white;
  background-color: $orange;
}
